body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: hsl(288, 38%, 90%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

label {
    display: inline-block;
    width: 80px; 
    vertical-align: top; 
}

input, textarea {
    display: inline-block; 
    width: 300px;          
    padding: 5px;
    border: none;
    background-color: hsl(288, 8%, 17%);
    color: #fff;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: hsl(108, 90%, 94%);
}