body {
  height: 100vh;
  position: relative; 
}

.cuadrado {
  width: 40vmin;
  height: 40vmin;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
}

.cuadrado2 {
  width: 25vmin;
  height: 25vmin;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 19%;
  left: 19%;
}

.cuadrado3 {
  width: 10vmin;
  height: 10vmin;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}