body {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.cuadrado {
  width: 40vmin;
  height: 40vmin;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadrado2 {
  width: 25vmin;
  height: 25vmin;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadrado3 {
  width: 10vmin;
  height: 10vmin;
  background-color: blue;
}