body {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  gap: 30px;
}

.padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: lightblue;
  padding: 20px;
}

.padre2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: lightgreen;
  padding: 20px;
}

.hijo1 { 
    width: 60px; 
    height: 60px; 
    background-color: red; 
}
.hijo2 { 
    width: 60px; 
    height: 60px; 
    background-color: orange; 
}
.hijo3 { 
    width: 60px; 
    height: 60px; 
    background-color: yellow; 
}
.hijo4 { 
    width: 60px; 
    height: 60px; 
    background-color: purple; 
}

.hijoUno { 
    width: 60px; 
    height: 60px; 
    background-color: pink; 
}
.hijoDos { 
    width: 60px; 
    height: 60px; 
    background-color: turquoise; 
}
.hijoTres { 
    width: 60px; 
    height: 60px; 
    background-color: gold; 
}
.hijoCuatro { 
    width: 60px; 
    height: 60px; 
    background-color: navy; 
}