:root{
    --color1: rgb(0,0,0);
    --color2: rgb(51,51,51);
    --color3: rgb(102,102,102);
    --color4: rgb(153,153,153);
    --color5: rgb(204,204,204);
    --color6: rgb(255,255,255);
    --color7: rgb(128,0,0);
    --color8: rgb(0,128,0);
    --color9: rgb(0,0,128);
    --color10: rgb(128,128,0);
    --color11: rgb(128,0,128);
    --color12: rgb(0,128,128);
}